p {
  margin-bottom: 1rem;
  padding: 2rem;
  display: block;
  border: 1px solid var(--app-primary-color);
  background-color: var(--app-background-dark-color);
  color: var(--app-foreground-color);
}
