@import '~@angular/material/theming';

@include mat-core();

$light-app-theme: mat-light-theme((
  color: (
    primary: mat-palette($mat-indigo),
    accent: mat-palette($mat-pink, A200, A100, A400),
    warn: mat-palette($mat-red),
  )
));

// Define an alternate dark theme.
$dark-app-theme: mat-dark-theme((
  color: (
    primary: mat-palette($mat-cyan),
    accent: mat-palette($mat-blue-gray, A200, A100, A400),
    warn: mat-palette($mat-amber),
  )
));

@mixin theme-colors($theme) {
  $_background: map-get($theme, background);
  $_foreground: map-get($theme, foreground);
  $_primary: map-get($theme, primary);
  $background-color: mat-color($_background, background);
  $foreground-color: mat-color($_foreground, text);
  $primary-color: mat-color($_primary);
  --app-background-color: #{$background-color};
  --app-background-dark-color: #{darken($background-color, 10%)};
  --app-foreground-color: #{$foreground-color};
  --app-primary-color: #{$primary-color};
}

:root {
  @include angular-material-color($light-app-theme);
  @include theme-colors($light-app-theme);
}

.dark-theme {
  @include angular-material-color($dark-app-theme);
  @include theme-colors($dark-app-theme);
}

body {
  background-color: var(--app-background-color);
}
