@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$light-app-theme: mat-light-theme((
  color: (
    primary: mat-palette($mat-indigo),
    accent: mat-palette($mat-pink, A200, A100, A400),
    warn: mat-palette($mat-red),
  )
));

// Define an alternate dark theme.
$dark-app-theme:   mat-dark-theme((
  color: (
    primary: mat-palette($mat-cyan),
    accent: mat-palette($mat-blue-gray, A200, A100, A400),
    warn: mat-palette($mat-amber),
  )
));

// Body Theming
@mixin body-theme($theme) {
  $_background: map-get($theme, background);
  $app-background-color: mat-color($_background, background);

  body {
    background-color: $app-background-color;
  }
}

// Teapot Theming
@mixin teapot-theme($theme) {
  $_background: map-get($theme, background);
  $_foreground: map-get($theme, foreground);
  $background-color: mat-color($_background, background);
  $foreground-color: mat-color($_foreground, text);
  $primary: map-get($theme, primary);
  p.teapot {
    border: 1px solid mat-color($primary);
    background-color: darken($background-color, 10%);
    color: $foreground-color;
  }
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($light-app-theme);
@include body-theme($light-app-theme);
@include teapot-theme($light-app-theme);

// Include the dark color styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.dark-theme {
  @include angular-material-color($dark-app-theme);
  @include body-theme($dark-app-theme);
  @include teapot-theme($dark-app-theme);
}
